# Database  
DB_URL=jdbc:maridb://localhost:3306/beeshoes  
DB_USERNAME=beeshoes  
DB_PASSWORD=your_strong_password  
DB_INIT_DATABASE=beeshoes
DB_HOST_INIT=beeshoes-db

# Cloudinary  
CLOUDINARY_NAME=your_cloudinary_name  
CLOUDINARY_API_KEY=your_api_key  
CLOUDINARY_API_SECRET=your_api_secret  
  
# Email  
MAIL_HOST=smtp.gmail.com  
MAIL_PORT=587  
MAIL_USERNAME=your_email@gmail.com  
MAIL_PASSWORD=your_app_password  
  
# JWT  
JWT_SECRET=your_very_long_secret_key_used_for_signing_jwt_tokens  
  
# Config  
CLIENT_DOMAIN=https://beeshoes.devopsedu.vn 

# url api be
REACT_APP_API_URL=https://api-beeshoes.deploy.io.vn
REACT_APP_GHN_TOKEN=your-token
